<header class="site-header">
  <div class="wrapper">
    <a class="site-title" href="{{ "" | prepend: site.baseurl | prepend: site.url }}/">
      <img src="{{ "/assets/img/title.png" | absolute_url }}" alt="{{ site.title }}" />
    </a>

    <nav class="site-nav">
      <a href="#" class="menu-icon"></a>

      <div class="menu">
        {% for page in site.header.pages %}
          {% if page.slug and page.slug != "" and page.slug != nil %}
            {% assign page_link = page.slug %}
          {% else %}
            {% assign page_link = "/" | append: page.name | downcase %}
          {% endif %}
          {% if page.name == "Blog"%}
          <a class="page-link" href="{{ https://ultra-pharaoh-74e.notion.site/14d189ba10a74bc9839b730026195bd5?v=5be1bc4c6fc043bf9c8f092484472cde }}">
            {{ page.name }}
          </a>
          {% else %}
          
          {% assign page_link = page_link | absolute_url %}
          <a class="page-link" href="{{ page_link }}">
            {{ page.name }}
          </a>
          {% endif %}

        {% endfor %}
      </div>
    </nav>
  </div>
</header>
